.barraNav {
   background-color: #333;
   padding: 10px;    
   display: flex;
   color: white;  

   position: sticky;
   top: 0;

   flex-direction: column;
}

.barraNav_link {
   padding: 20px;
}

.barraNav_link-botao {
   align-self: flex-end;
   display: initial;
   position: absolute;
   cursor: pointer;

   margin-top: 2.3%;
}

.barraNav_itens {
   display: none;
   flex-direction: column;
   text-align: center;
}
   .barraNav_itens a {
      text-decoration: none;
      color: white;    
   }

   .barraNav_itens:visited { color: white; }

   .barraNav_itens a:hover {
      background-color: gray;
      text-decoration: none;
      color: white;
      border-radius: 10px;
      padding: 15px;
   }

.barraNav_show {
   display: flex;
}

.barraNav_hide {
   display: none;
}

.logoIF {
   width: 23%;
   content: url('../imgs/descubraoif_logo.png');
   float: left;
}

.tituloSite a {
   float: left;
   margin-top: 7%;
   margin-left: 7%;
   color: white;
   text-decoration: none;

   font-size: 3.3vh;
}
   .tituloSite a:visited {
      color: white;
   }


@media screen and (min-width: 411px) {
   .barraNav_link-botao, .barraNav_link a {
      margin-top: 2.5%;
      font-size: 1.2em;
   }
}
